<div class="products-slider__slide swiper-slide">
  <article class="product-card">
    <div class="product-card__top">
      <div class="product-card__badges badges">
        @@if (discount) {
        <div class="badges__item">-30%</div>
        }
        @@if (bestseller) {
        <div class="badges__item">хит продаж</div>
        }
        @@if (leftovers) {
        <div class="badges__item badges__item--white">остатки</div>
        }
        @@if (notAvailable) {
        <div class="badges__item badges__item--white">Нет в наличии</div>
        }
        @@if (km2) {
        <div class="badges__item badges__item--white">КМ2</div>
        }
        @@if (hasVideo) {
        <div class="badges__item badges__item--white">Есть видео</div>
        }
      </div>
      <product-images class="product-card__slider">
        <a class="product-images swiper" href="#">
          <div class="product-images__wrapper swiper-wrapper">
            <div class="product-images__slide responsive-media swiper-slide">
              <img src="@img/images/ui/product-card/@@image.jpg" alt="#" loading="lazy">
            </div>
            <div class="product-images__slide responsive-media swiper-slide">
              <img src="@img/images/ui/product-card/@@image.jpg" alt="#" loading="lazy">
            </div>
            <div class="product-images__slide responsive-media swiper-slide">
              <img src="@img/images/ui/product-card/@@image.jpg" alt="#" loading="lazy">
            </div>
            <div class="product-images__slide responsive-media swiper-slide">
              <img src="@img/images/ui/product-card/@@image.jpg" alt="#" loading="lazy">
            </div>
          </div>
        </a>
        <div class="slider-pagination"></div>
      </product-images>
    </div>
    @@if (tabs) {
    <tabs-element>
      <div class="product-card__tabs product-tabs">
        <button class="product-tabs__button active" data-tab="roll">Цена за рулон</button>
        <button class="product-tabs__button" data-tab="cut">Цена на отрез</button>
      </div>
      <div class="product-card__class product-class">
        <div class="product-class__item">ID: 2345467</div>
        @@if (productClass) {
        <div class="product-class__item">Класс: 32</div>
        }
      </div>
      <div class="product-card__price product-price" data-panel="roll">
        <div class="product-price__value">190 руб./шт.</div>
        <div class="product-price__value">220 руб.</div>
      </div>
      <div class="product-card__price product-price" data-panel="cut" hidden>
        <div class="product-price__value">@@price</div>
        @@if (oldPrice) {
        <div class="product-price__value">@@oldPrice</div>
        }
      </div>
    </tabs-element>
    }
    @@if (!tabs) {
    <div class="product-card__tabs product-tabs">
      <div class="product-tabs__button active">Розничная цена</div>
    </div>
    <div class="product-card__class product-class">
      <div class="product-class__item">ID: 2345467</div>
      @@if (productClass) {
      <div class="product-class__item">Класс: 32</div>
      }
    </div>
    <div class="product-card__price product-price">
      <div class="product-price__value">@@price</div>
      @@if (oldPrice) {
      <div class="product-price__value">@@oldPrice</div>
      }
    </div>
    }
    <h3 class="product-card__title">
      <a href="#">@@title</a>
    </h3>
    @@if (length) {
    <div class="product-card__info product-info">
      <div class="product-info__item">1.5м</div>
      <div class="product-info__item">2м</div>
      <div class="product-info__item">2.5М</div>
      <div class="product-info__item">3м</div>
      <div class="product-info__item">3.5М</div>
      <div class="product-info__item">4м</div>
    </div>
    }
    @@if (info) {
    <div class="product-card__info product-info">
      <div class="product-info__item">под плитку</div>
      <div class="product-info__item">водостойкий</div>
    </div>
    }
    <div class="product-card__actions product-actions">
      @@if (notAvailable) {
      <button class="product-actions__button button">Сообщить о появлении</button>
      }
      @@if (!notAvailable) {
      <button class="product-actions__button button">Купить</button>
      }
      <action-button>
        <button class="product-actions__icon" aria-label="В избранное">
          <svg width="100%" height="100%" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg>
        </button>
      </action-button>
      <action-button>
        <button class="product-actions__icon" aria-label="Сравнение">
          <svg width="100%" height="100%" aria-hidden="true">
            <use xlink:href="#icon-compare"></use>
          </svg>
        </button>
      </action-button>
      <button class="product-actions__buy" @@if (notAvailable) { disabled }>Купить в один клик</button>
    </div>
  </article>
</div>
