@mixin limit-lines($line-count) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-count, #{$line-count});

  display: -webkit-box;

  block-size: calc(var(--line-count, #{$line-count}) * 1lh);
  overflow: hidden;

  * {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-count, #{$line-count});

    display: -webkit-box;

    block-size: calc(var(--line-count, #{$line-count}) * 1lh);
    overflow: hidden;
  }
}
