@use "../../functions/functions";
@use "../../variables/variables";
@use "../../mixins/mixins";

.header {
  container-type: inline-size;
  block-size: var(--header-height);

  // .header__wrapper
  &__wrapper {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: 100;
    background-color: variables.$color-white;

    .scrolled & {
      transform: translateY(calc(-1 * var(--header-top-height)));
    }

    @include mixins.prefers-reduced-motion {
      transition-property: transform;
      transition-duration: 0.3s;
    }
  }
}

.header-top {
  display: flex;
  align-items: center;
  min-block-size: var(--header-top-height);
  border-block-end: 1px solid rgba(0, 0, 0, 0.08);

  // .header-top__container
  &__container {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 32px;
  inline-size: 100%;
  padding-block: 5px;

  // .header-nav__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    flex: 1 1 auto;
  }

  // .header-nav__column
  &__column {
  }

  // .header-nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  // .header-nav__item
  &__item {
    // .header-nav__item--dropdown
    &--dropdown {
      position: relative;
      isolation: isolate;
      z-index: 1;
    }
  }
}

.header-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: functions.responsive-value(14, 12, $behavior: "fixed-both");
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: variables.$color-1d1d1d;

  &:not(&--badge) {
    .header-nav__item--dropdown:has(:hover, :focus-within) & {
      color: variables.$color-hover;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .header-link--badge
  &--badge {
    justify-content: center;
    min-block-size: 30px;
    padding-block: 5px;
    padding-inline: 16px;
    text-align: center;
    background-color: rgba(255, 183, 77, 0.24);
    border-radius: 61px;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-hover;
    }
  }

  // .header-link__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;

    .header-nav__item--dropdown & {
      @include mixins.prefers-reduced-motion {
        transition-property: transform;
        transition-duration: 0.3s;
      }
    }

    .header-nav__item--dropdown:has(:hover, :focus-within) & {
      transform: rotate(180deg);
    }
  }

  // .header-link__text
  &__text {
  }
}

.header-dropdown {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  z-index: -1;
  padding-block-start: calc(var(--header-top-height) / 2);
  transform: translateX(-50%);

  .header-nav__item--dropdown:not(:hover, :focus-within) & {
    opacity: 0;
    visibility: hidden;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }

  // .header-dropdown__list
  &__list {
    min-inline-size: 205px;
    background-color: variables.$color-white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }

  // .header-dropdown__link
  &__link {
  }
}

.dropdown-link {
  display: flex;
  justify-content: start;
  align-items: center;
  min-block-size: 44px;
  padding-block: 5px;
  padding-inline: 16px;
  font-size: functions.responsive-value(14, 12, $behavior: "fixed-both");
  color: variables.$color-black;

  @include mixins.prefers-reduced-motion {
    transition-property: background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.header-call {
  display: flex;
  flex-direction: column;
  align-items: end;

  // .header-call__link
  &__link {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: right;
    white-space: nowrap;
    color: variables.$color-1d1d1d;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .header-call__button
  &__button {
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: end;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgba(29, 29, 29, 0.87);

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }
}

.header-main {
  // .header-main__container
  &__container {
  }

  // .header-main__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 32px;
    min-block-size: 108px;
    padding-block: 10px;

    .scrolled & {
      min-block-size: 0;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: min-block-size;
      transition-duration: 0.3s;
    }
  }

  // .header-main__logo
  &__logo {
    flex: 0 0 auto;
  }

  // .header-main__row
  &__row {
    display: flex;
    align-items: center;
    gap: 48px;
    flex: 1 1 auto;
  }

  // .header-main__actions
  &__actions {
    flex: 1 1 auto;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 0;

  // .header-logo__item
  &__item {
    flex: 0 0 auto;
    inline-size: var(--header-logo-width);
    aspect-ratio: 193 / 44;

    img {
      object-fit: contain;
    }
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;

  // .header-actions__search
  &__search {
    flex: 1 1 auto;
  }
}

.header-catalog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-block-size: 44px;
  padding-block: 5px;
  padding-inline: 16px;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: center;
  color: variables.$color-1d1d1d;
  background-color: variables.$color-hover;
  border: 1px solid variables.$color-hover;

  // .header-catalog-button--active
  &--active {
  }

  @include mixins.hover {
    background-color: variables.$color-white;
    border-color: variables.$color-1d1d1d;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: background-color, border-color;
    transition-duration: 0.3s;
  }

  // .header-catalog-button__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;

    // .header-catalog-button__icon--default
    &--default {
      .header-catalog-button--active & {
        display: none;
      }
    }

    // .header-catalog-button__icon--active
    &--active {
      .header-catalog-button:not(.header-catalog-button--active) & {
        display: none;
      }
    }
  }

  // .header-catalog-button__text
  &__text {
  }
}

.header-search {
  // .header-search__form
  &__form {
    position: relative;
    isolation: isolate;
  }

  // .header-search__input
  &__input {
    block-size: 44px;
    padding-inline: 18px;
    line-height: 1;
    color: variables.$color-1d1d1d;
    background-color: variables.$color-f6f6f6;

    &:focus {
      outline: 2px solid variables.$color-hover;
    }

    &::placeholder {
      color: rgba(29, 29, 29, 0.6);
    }
  }

  // .header-search__button
  &__button {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 4px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 36px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: variables.$color-fb8c00;
    background-color: variables.$color-white;
    transform: translateY(-50%);

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-1d1d1d;
      background-color: variables.$color-hover;
    }
  }

  // .header-search__icon
  &__icon {
  }
}

.promotions-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: variables.$font-raleway;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: variables.$color-fc5647;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-hover;
  }

  // .promotions-link__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .promotions-link__text
  &__text {
  }
}

.icon-links {
  display: flex;
  align-items: center;
  gap: 16px;

  // .icon-links__item
  &__item {
  }

  // .icon-links__link
  &__link {
    display: flex;
    color: variables.$color-1d1d1d;

    &[data-count] {
      position: relative;
      isolation: isolate;

      &::after {
        content: attr(data-count);
        position: absolute;
        inset-block-start: -8px;
        inset-inline-end: -9px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-inline-size: 24px;
        min-block-size: 20px;
        padding-inline: 5px;
        font-family: variables.$font-manrope;
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.03em;
        text-align: center;
        color: variables.$color-1d1d1d;
        background-color: variables.$color-hover;
        border: 1px solid variables.$color-white;
        border-radius: 60px;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .icon-links__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
  }

  // .icon-links__text
  &__text {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    border: none;
    outline: none;
    outline-offset: 0;
  }
}

.header-catalog {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 50;
  container-type: inline-size;
  display: grid;
  grid-template-columns: auto 1fr;
  block-size: 100%;
  padding-block-start: var(--header-height);
  background-color: variables.$color-white;

  &:not(.header-catalog--show) {
    opacity: 0;
    visibility: hidden;
  }

  .scrolled & {
    padding-block-start: calc(var(--header-height) - var(--header-top-height));
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }

  // .header-catalog__main
  &__main {
  }

  // .header-catalog__inner
  &__inner {
  }
}

.header-catalog-main {
  padding-block: 16px;
  padding-inline-start: max((100cqi - 1320px) / 2, 16px);
  background-color: variables.$color-f6f6f6;

  // .header-catalog-main__list
  &__list {
    max-block-size: calc(100vh - var(--header-height) - 32px);
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: auto;

    .scrolled & {
      max-block-size: calc(100vh - (var(--header-height) - var(--header-top-height)) - 32px);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .header-catalog-main__item
  &__item {
  }
}

.header-catalog-main-link {
  display: flex;
  align-items: center;
  gap: 6px;
  inline-size: 306px;
  min-block-size: 44px;
  padding-block: 5px;
  padding-inline: 16px;
  letter-spacing: 0.04em;
  color: variables.$color-1d1d1d;

  // .header-catalog-main-link--active
  &--active {
    background-color: variables.$color-white;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    background-color: variables.$color-white;
  }

  // .header-catalog-main-link__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-fc5647;
  }

  // .header-catalog-main-link__text
  &__text {
  }
}

.header-catalog-inner {
  padding-block: 16px;
  padding-inline: 32px max((100cqi - 1320px) / 2, 16px);

  // .header-catalog-inner__block
  &__block {
    display: grid;
    grid-template-columns: 1fr 285px;
    gap: 32px;
    max-block-size: calc(100vh - var(--header-height) - 32px);
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: auto;

    &[hidden] {
      display: none;
    }

    .scrolled & {
      max-block-size: calc(100vh - (var(--header-height) - var(--header-top-height)) - 32px);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .header-catalog-inner__list
  &__list {
    columns: 2 306px;
    column-gap: 32px;
  }

  // .header-catalog-inner__item
  &__item {
    break-inside: avoid;
  }
}

.header-catalog-inner-link {
  display: flex;
  align-items: center;
  gap: 6px;
  inline-size: 306px;
  min-block-size: 44px;
  padding-block: 5px;
  padding-inline: 16px;
  letter-spacing: 0.04em;
  color: variables.$color-1d1d1d;

  @include mixins.prefers-reduced-motion {
    transition-property: background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    background-color: variables.$color-f6f6f6;
  }
}

.header-catalog-images {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: start;

  // .header-catalog-images__link
  &__link {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    aspect-ratio: 285 / 69;
    padding-inline: 24px;
  }

  // .header-catalog-images__item
  &__item {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  // .header-catalog-images__row
  &__row {
    display: flex;
    align-items: center;
    gap: 6px;
    min-block-size: 21px;
    padding-inline: 4px;
    background-color: variables.$color-white;
  }

  // .header-catalog-images__icon
  &__icon {
    display: none;
    flex: 0 0 auto;
    font-size: 0;
  }

  // .header-catalog-images__text
  &__text {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-align: center;
    color: variables.$color-1d1d1d;
  }
}

.header-result {
  position: fixed;
  inset-block-start: 0;
  inset-inline: max((100cqi - 1320px) / 2 + var(--header-logo-width) + 32px, 0px) max((100cqi - 1320px) / 2 + 36px, 0px);
  z-index: 75;
  padding-block-start: var(--header-height);
  max-block-size: 100%;
  background-color: variables.$color-white;
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.2);
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;

  .header:not(:has(.header-search:focus-within)) & {
    opacity: 0;
    visibility: hidden;
  }

  .scrolled & {
    padding-block-start: calc(var(--header-height) - var(--header-top-height));
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }

  // .header-result__inner
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 35px;
    padding-inline: 32px;
  }

  // .header-result__text
  &__text {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-1d1d1d;
  }
}

.header-result-popular {
  // .header-result-popular__label
  &__label {
    margin-block-end: 18px;
  }

  // .header-result-popular__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  // .header-result-popular__item
  &__item {
  }

  // .header-result-popular__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 32px;
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-align: center;
    color: variables.$color-1d1d1d;
    border: 1px solid variables.$color-fb8c00;
    border-radius: 100px;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color, border-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-hover;
      border-color: variables.$color-hover;
    }
  }
}

.header-result-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: variables.$color-2e2e2e;
}
