@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.product-hero {
  // .product-hero__container
  &__container {
  }

  // .product-hero__inner
  &__inner {
    display: grid;
    align-items: start;
    gap: functions.responsive-value(32, 24);

    @media (min-width: #{768 + 0.1px}) {
      container-type: inline-size;
      grid-template-columns: repeat(2, 1fr);
      margin-block-start: functions.responsive-value(16, 8);

      .product-hero__container:has(> movable-element > .product-id) & {
        margin-block-start: functions.responsive-value(17.5, 9.5);
      }
    }
  }

  // .product-hero__column
  &__column {
    container-type: inline-size;

    @media (min-width: #{768 + 0.1px}) {
      inline-size: calc((100cqi - #{functions.responsive-value(32, 24)}) / 2);
    }

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .product-hero__sliders
  &__sliders {
    @media (min-width: #{768 + 0.1px}) {
      display: grid;
      grid-template-columns: calc(512 / 644 * 100cqi) calc(116 / 644 * 100cqi);
      align-items: start;
      gap: 16px;
      margin-block-end: functions.responsive-value(48, 24);
    }
  }

  // .product-hero__thumbs
  &__thumbs {
    position: relative;
    isolation: isolate;

    @media (max-width: 768px) {
      display: none;
    }
  }

  // .product-hero__arrow
  &__arrow {
    position: absolute;
    inset-block: var(--hero-slider-arrow-top, auto) var(--hero-slider-arrow-bottom, auto);
    inset-inline: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(
      var(--hero-slider-arrow-gradient-direction),
      rgba(variables.$color-white, 0) 0%,
      var(--hero-slider-arrow-gradient-color) 100%
    );

    &:has(.slider-arrow--prev) {
      --hero-slider-arrow-top: 0;
      --hero-slider-arrow-gradient-direction: 0;
    }

    &:has(.slider-arrow--next) {
      --hero-slider-arrow-bottom: 0;
      --hero-slider-arrow-gradient-direction: 180deg;
    }

    &:has(.slider-arrow:is(.swiper-button-disabled, .swiper-button-lock)) {
      --hero-slider-arrow-gradient-color: #{rgba(variables.$color-white, 0)};

      pointer-events: none;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: --hero-slider-arrow-gradient-color;
      transition-duration: 0.3s;
    }
  }

  // .product-hero__content
  &__content {
    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .product-hero__title
  &__title {
    margin-block-end: functions.responsive-value(8, 16);

    @media (max-width: 768px) {
      margin-block-start: 8px;
    }
  }

  // .product-hero__length
  &__length {
    margin-block-end: functions.responsive-value(48, 32);
  }

  // .product-hero__tabs
  &__tabs {
    margin-block-end: functions.responsive-value(48, 12);
  }

  // .product-hero__info
  &__info {
    margin-block-end: 48px;

    @media (max-width: 768px) {
      margin-block-start: 48px;
    }
  }
}

.hero-slider {
  @media (max-width: 768px) {
    overflow: visible;
  }

  // .hero-slider__wrapper
  &__wrapper {
  }

  // .hero-slider__slide
  &__slide {
    aspect-ratio: 1 / 1;
    font-size: 0;
  }

  // .hero-slider__scrollbar
  &__scrollbar {
    --swiper-scrollbar-drag-bg-color: #{variables.$color-777777};
    --swiper-scrollbar-border-radius: 4px;

    block-size: 2px;
    margin-block-start: 16px;
    background-color: variables.$color-e5e5e5;
    border-radius: 4px;

    @media (min-width: #{768 + 0.1px}) {
      display: none;
    }
  }
}

.hero-thumbs {
  block-size: calc(512 / 644 * 100cqi);

  // .hero-thumbs__wrapper
  &__wrapper {
  }

  // .hero-thumbs__slide
  &__slide {
    aspect-ratio: 1 / 1;
    font-size: 0;

    &:not(.swiper-slide-thumb-active) {
      cursor: pointer;

      @include mixins.hover {
        opacity: 0.75;
      }
    }

    &.swiper-slide-thumb-active {
      opacity: 0.5;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity;
      transition-duration: 0.3s;
    }
  }
}

.hero-length {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: functions.responsive-value(16, 8);

  // .hero-length__label
  &__label {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-1d1d1d;
  }

  // .hero-length__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: functions.responsive-value(16, 8);

    &:has(.hero-length__radio:focus-visible) {
      outline: 2px solid variables.$color-1d1d1d;
      outline-offset: 2px;
    }
  }

  // .hero-length__item
  &__item {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;

    &[data-tooltip] {
      &:hover {
        &::before,
        &::after {
          opacity: 1;
          visibility: inherit;
        }
      }

      &::before {
        content: "";
        position: absolute;
        inset-block-end: 100%;
        inset-inline-start: 50%;
        z-index: 1;
        border-block-start: 6px solid variables.$color-1d1d1d;
        border-inline: 6px solid rgba(variables.$color-1d1d1d, 0);
        opacity: 0;
        transform: translateX(-50%);
        visibility: hidden;
        pointer-events: none;

        @include mixins.prefers-reduced-motion {
          transition-property: opacity, visibility;
          transition-duration: 0.3s;
        }
      }

      &::after {
        content: attr(data-tooltip);
        position: absolute;
        inset-block-end: calc(100% + 5px);
        inset-inline-start: calc(-1 * var(--tooltip-left) + 16px);
        z-index: 1;
        inline-size: calc(100vw - 32px);
        padding: 8px;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.01em;
        text-align: start;
        color: variables.$color-white;
        background-color: variables.$color-1d1d1d;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        @include mixins.prefers-reduced-motion {
          transition-property: opacity, visibility;
          transition-duration: 0.3s;
        }

        @media (min-width: #{768 + 0.1px}) {
          inset-inline-start: 50%;
          inline-size: 225px;
          transform: translateX(-50%);
        }
      }
    }
  }

  // .hero-length__badge
  &__badge {
    padding-inline: 4px;
    font-size: 12px; // 11px
    line-height: 2;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: variables.$color-1d1d1d;
    background-color: variables.$color-ffe0b2;
    pointer-events: none;
  }

  // .hero-length__main
  &__main {
  }

  // .hero-length__radio
  &__radio {
  }
}

.length {
  .hero-length & {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    min-inline-size: 70px;
    padding-inline: 4px;
    font-size: 12px; // 12px
    line-height: 2;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: variables.$color-1d1d1d;
    background-color: variables.$color-ededed;
    cursor: pointer;

    &:not(:has(.length__icon)) {
      justify-content: center;
    }

    &:has(~ .hero-length__radio:checked) {
      &::after {
        background-color: variables.$color-fb8c00;
      }
    }

    @include mixins.hover {
      &::after {
        background-color: rgba(variables.$color-fb8c00, 0.5);
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      z-index: -1;
      block-size: 2px;
      font-size: 0;
      background-color: rgba(variables.$color-fb8c00, 0);

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }

    // .length__text
    &__text {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;

      &:has(~ .length__icon) {
        padding-inline-start: 4px;
      }
    }

    // .length__icon
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      inline-size: 13px;
      aspect-ratio: 1 / 1;
      font-size: 0;
      color: variables.$color-999999;
      border: 1px solid;
      border-radius: 50%;
    }
  }
}

.hero-tabs {
  // .hero-tabs__buttons
  &__buttons {
    display: grid;
    margin-block-end: 24px;
    border-block-end: 1px solid variables.$color-999999;

    tabs-element & {
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: #{768 + 0.1px}) {
      display: flex;
    }
  }

  // .hero-tabs__button
  &__button {
    --button-font-weight: 500;

    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 32px;
    padding-block: 5px;
    padding-inline: functions.responsive-value(24, 16);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: center;
    color: variables.$color-999999;

    &.active {
      color: variables.$color-1d1d1d;

      &::after {
        background-color: variables.$color-fb8c00;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      &::after {
        background-color: rgba(variables.$color-fb8c00, 0.5);
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      z-index: -1;
      block-size: 2px;
      font-size: 0;
      transform: translateY(50%);
      pointer-events: none;

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }
  }

  // .hero-tabs__panels
  &__panels {
  }

  // .hero-tabs__item
  &__item {
  }
}

.hero-form {
  display: grid;
  gap: functions.responsive-value(16, 24);
  user-select: text;

  // .hero-form__top
  &__top {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    align-items: center;
    gap: functions.responsive-value(32, 24);
  }

  // .hero-form__buttons
  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    gap: functions.responsive-value(16, 12);
  }
}

.hero-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  line-height: 1.3;
  color: variables.$color-1d1d1d;

  // .hero-price__label
  &__label {
    font-size: 14px;
    letter-spacing: 0.01em;
  }

  // .hero-price__row
  &__row {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
  }

  // .hero-price__value
  &__value {
    & + & {
      font-weight: 400;
      line-height: 1.5;
      text-decoration: line-through;
      white-space: nowrap;
      color: variables.$color-777777;
    }
  }
}

.hero-counter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8px;

  // .hero-counter__label
  &__label {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: variables.$color-1d1d1d;
  }
}

.counter {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  gap: 10px;
  min-block-size: 32px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: variables.$color-ededed;
  border-block-end: 2px solid variables.$color-fb8c00;

  // .counter__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: center;
    color: variables.$color-1d1d1d;

    // .counter__button--minus
    &--minus {
    }

    // .counter__button--plus
    &--plus {
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-hover;
    }
  }

  // .counter__input
  &__input {
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: center;
    color: variables.$color-1d1d1d;
  }
}

.hero-sum {
  display: grid;
  gap: 4px;

  // .hero-sum__row
  &__row {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: functions.responsive-value(24, 20);
    line-height: 1.1;
  }

  // .hero-sum__label
  &__label {
    color: variables.$color-1d1d1d;
  }

  // .hero-sum__value
  &__value {
    color: variables.$color-fb8c00;
  }

  // .hero-sum__text
  &__text {
    font-size: 12px; // functions.responsive-value(12, 10)
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: variables.$color-777777;
  }
}

.hero-info {
  padding: 24px;
  background-color: variables.$color-f6f6f6;

  &:has(.hero-info__item) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  // .hero-info__item
  &__item {
    display: flex;
    flex-direction: column;

    > *:last-child {
      margin-block-end: 0;
    }
  }

  // .hero-info__label
  &__label {
    margin-block-end: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: variables.$color-black;
  }

  // .hero-info__list
  &__list {
    flex: 1 1 auto;
    margin-block-end: 8px;
  }

  // .hero-info__action
  &__action {
    align-self: start;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: start;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: variables.$color-fb8c00;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-1d1d1d;
    }
  }

  // .hero-info__buttons
  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
}

.info-list {
  font-size: 16px;

  // .info-list__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 8px;
    }
  }

  // .info-list__label
  &__label {
    display: inline;
    color: variables.$color-1d1d1d;

    &::after {
      content: " ";
    }
  }

  // .info-list__text
  &__text {
    display: inline;
    color: variables.$color-777777;
  }
}
