@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.badges {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;

  // .badges__item
  &__item {
  }
}

.badge {
  padding-inline: 4px;
  font-size: 12px; // functions.responsive-value(12, 10)
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: variables.$color-1d1d1d;
  background-color: variables.$color-ffe0b2;

  // .badge--white
  &--white {
    background-color: variables.$color-white;
  }
}
