@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.product-id {
  inline-size: max-content;
  padding-inline: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  white-space: nowrap;
  color: variables.$color-1d1d1d;
  background-color: variables.$color-ffe0b2;
  user-select: text;

  .actions & {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .product-hero__content & {
    @media (min-width: #{768 + 0.1px}) {
      display: none;
    }
  }

  .actions & {
    @media (min-width: #{768 + 0.1px}) {
      margin-inline-start: 0;
    }
  }

  @media (min-width: #{768 + 0.1px}) {
    margin-inline-start: auto;
  }
}
