@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.top {
  padding-block: 8px;

  @media (max-width: 768px) {
    padding-block-end: functions.responsive-value(23, 16);
  }

  // .top__container
  &__container {
  }

  // .top__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}
