@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light-Normal.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/Gotham_Pro-Light-Normal.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/Gotham_Pro-Regular-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/Gotham_Pro-Medium-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
