$color-white: #fff;
$color-black: #000;

$color-hover: #ffb74d;

$color-252626: #252626;
$color-999999: #999999;
$color-ffe0b2: #ffe0b2;
$color-1d1d1d: #1d1d1d;
$color-fb8c00: #fb8c00;
$color-f9f9f9: #f9f9f9;
$color-b6b6b6: #b6b6b6;
$color-fff8ed: #fff8ed;
$color-ededed: #ededed;
$color-e5e5e5: #e5e5e5;
$color-777777: #777777;
$color-f6f6f6: #f6f6f6;
$color-fc5647: #fc5647;
$color-2e2e2e: #2e2e2e;
$color-666666: #666666;
