* {
  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

:where(html, body) {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  inline-size: 100%;
  block-size: 100%;
  font-size: 16px;
  line-height: 1;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: inherit;
  font-size: inherit;
}

:where(ul, ol) {
  list-style: none;
}

:where(input, button) {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant-numeric: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
  background: none;
}

:where(input) {
  display: block;
  inline-size: 100%;
  caret-color: currentColor;
}

:where(:any-link) {
  text-decoration: none;
}

:where(:focus, :active) {
  outline: none;
}

::-moz-focus-inner {
  padding: 0;
  border: none;
}

::before,
::after {
  box-sizing: border-box;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

:where(html) {
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(input) {
  &[type="number"] {
    appearance: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

:where(button) {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

:where(img) {
  vertical-align: top;
}

:where(svg) {
  fill: currentColor;
  stroke: currentColor;
}

:where(:root) {
  color: #000;
}

:where(input):focus-visible {
  outline: none;
}

:where(:focus-visible) {
  outline: 2px solid var(--outline-color, currentColor);
  outline-offset: 2px;

  @media (hover: hover) {
    &:hover {
      outline: none;
    }
  }
}

:where(:disabled) {
  cursor: default;
}

:where(action-button) {
  display: contents;
}

:where(tabs-element) {
  display: contents;
}

main.main.wrapper {
  padding-inline: 0 !important;
}

div:has(> section.product-hero) {
  padding-inline: 0 !important;
}

section > div.container {
  inline-size: 100% !important;
  max-inline-size: 1352px !important;
  margin-inline: auto !important;
  padding-inline: 16px !important;
}

section :is(h1, div).h1 {
  margin: 0 !important;
  margin-block-end: max(8px, 16px + -8 * ((100vw - 320px) / 1032)) !important;
  font-family: "Gotham Pro", sans-serif !important;
  font-weight: 500 !important;
  font-size: min(28px, 22px + 6 * ((100vw - 320px) / 1032)) !important;
  line-height: 1.25 !important;
  letter-spacing: 0 !important;
  color: #1d1d1d !important;

  @media (max-width: 768px) {
    margin-block-start: 8px !important;
  }
}

section :is(h2, div).h2 {
  margin: 0 !important;
  margin-block-end: var(--h2-margin-bottom) !important;
  font-family: "Gotham Pro", sans-serif !important;
  font-weight: 500 !important;
  font-size: min(28px, 22px + 6 * ((100vw - 320px) / 1032)) !important;
  line-height: 1.25 !important;
  color: #1d1d1d !important;
}

section :is(h3, div).h3 {
  margin: 0 !important;
  font-family: "Gotham Pro", sans-serif !important;
  font-weight: 500 !important;
  font-size: min(16px, 14px + 2 * ((100vw - 320px)/1032)) !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #252626 !important;
}

:is(section, article) :is(h3, div, p).product-card__title {
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: var(--line-count, 3) !important;

  display: -webkit-box !important;

  block-size: calc(var(--line-count, 3 * 1lh)) !important;
  margin-block-end: max(12px, 31px + -19 * ((100vw - 320px) / 1032)) !important;
  font-family: "Gotham Pro", sans-serif !important;
  font-size: min(16px, 12px + 4 * ((100vw - 320px) / 1032)) !important;
  font-weight: 400 !important;
  line-height: 1.31 !important;
  letter-spacing: 0.01em !important;
  color: #1d1d1d !important;
  overflow: hidden !important;

  * {
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: var(--line-count, 3) !important;

    display: -webkit-box !important;

    block-size: calc(var(--line-count, 3) * 1lh) !important;
    overflow: hidden !important;
  }

  a {
    @media (prefers-reduced-motion: no-preference) {
      transition-property: color !important;
      transition-duration: 0.3s !important;
    }

    @media (hover: hover) {
      &:hover {
        color: #ffb74d !important;
      }
    }
  }
}

label.length {
  margin: 0 !important;
}

section {
  font-family: "Gotham Pro", sans-serif !important;
}

section:has(.swiper) {
  user-select: none;
}

article:not(.review-card) {
  padding: 0 !important;
}

button {
  font-family: "Gotham Pro", sans-serif !important;
  font-weight: var(--button-font-weight, 400) !important;
  text-transform: none !important;
}

button:is(.compare, .compare-check) {
  inline-size: min(24px, 16px + 8 * ((100vw - 320px) / 1032)) !important;
  block-size: min(24px, 16px + 8 * ((100vw - 320px) / 1032)) !important;
  background: none !important;
}

button.button {
  background-color: #ffb74d !important;

  @media (hover: hover) {
    &:hover {
      background-color: #fff !important;
    }
  }

  // .button--transparent
  &--transparent {
    background-color: rgba(#ffb74d, 0) !important;

    @media (hover: hover) {
      &:hover {
        background-color: #ffb74d !important;
      }
    }
  }
}

a.button {
  font-weight: 400 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.045em !important;
  text-transform: none !important;
  text-decoration: none !important;
  color: #1d1d1d !important;
  background-color: #ffb74d !important;

  &:focus {
    text-decoration: none !important;
    color: #1d1d1d !important;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: none !important;
      color: #1d1d1d !important;
      background-color: #fff !important;
    }
  }

  // .button--transparent
  &--transparent {
    background-color: rgba(#ffb74d, 0) !important;

    @media (hover: hover) {
      &:hover {
        text-decoration: none !important;
        color: #1d1d1d !important;
        background-color: #ffb74d !important;
      }
    }
  }
}

input[type="checkbox"] {
  display: inline-block !important;
  inline-size: auto !important;
}
